$backgroundColor: #1d1d1d;
$backgroundNav: #180701; //653c39 // 5e1a04
$backgroundNavItems: #4a2f2d; //653c39
$lightColor: #efefef;
$lightColorHover: #aeaeae;
$footerColor: #9e5139;
$borderColor: #5d0404;
$headingColor: #024bab;
$cardHoverColor: #f54f4f;